@using MVC_Presentatie.Models
@{
    Post post = ViewBag.Post;
}
@{
    ViewData["Title"] = @post.Title;
}

<h1>@post.Title</h1>
<a href="@Url.Action("BlogPost", "Post", new { id = @post.Id })">
    <h1>@post.Title</h1>
</a>
<p>@post.Body</p>
<hr />